.headTitle {
  font-family: var(--font-yusei-magic);
  margin-bottom: 20px;
}

.h1 {
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
